*.o
*.so
*.a
*.ncb
*.plg
*.aps
*.opt
*.aac
*.wav
*.lo
*.in
Makefile
*.libs
*.deps
*.la
*.log
project/msvc/.vs/
project/msvc/bin/
project/msvc/intermediate/
*.user
*~
*.bak
/libfaad/faad2.pc
bazel-*

# Automake garbage created by bootstrap
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.sub
config.status
configure
depcomp
faad2.spec
include/faad.h
INSTALL
install-sh
libtool
ltmain.sh
missing
stamp-h1
